@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

:root {
  --background-color: #f8f8f8;
  --foreground-color: white;
  --separator-color: #d7d7d7;

  --dark-btn-background: #575057;
  --light-btn-background: #d4d4d4;

  --theme-color-1: #922c88;
  --theme-color-2: #4556ac;
  --theme-color-3: #af67a4;
  --theme-color-4: #743c6e;
  --theme-color-5: #4b5480;
  --theme-color-6: #795d75;

  --primary-color: #303030;
  --secondary-color: #8f8f8f;
  --muted-color: #909090;

  --border-radius: 0.1rem;
  --border-radius-rounded: 0.75rem;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  background: var(--background-color);
}
body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--background-color);
}
hr {
  border-top: 1px solid var(--separator-color);
}
h2 {
  margin: 0;
}
img {
  max-width: 100%;
}
p {
  color: var(--secondary-color);
}
li {
  list-style-type: none;
}
button {
  background-color: var(--theme-color-1) !important;
  border-color: var(--secondary-color) !important;
  color: #fff !important;
}
button:hover {
  background-color: var(--theme-color-4) !important;
  border-color: var(--theme-color-1) !important;
  color: #fff !important;
}
.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(146, 44, 136, 0.2);
  border-radius: 50%;
  border-top-color: var(--theme-color-1);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

.btn-multiple-state .spinner {
  width: 36px;
  text-align: center;
}

.spinner > span {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
